const firebaseConfig = {
  apiKey: "AIzaSyCVRhGDGig7_uKSGilM6Ck2W3mU95mNjEg",
  authDomain: "book-store-c6daa.firebaseapp.com",
  databaseURL: "https://book-store-c6daa-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "book-store-c6daa",
  storageBucket: "book-store-c6daa.appspot.com",
  messagingSenderId: "1054258180627",
  appId: "1:1054258180627:web:555ec1ced7055ec51c05e6",
  measurementId: "G-NRPP8VYJZM"
};